{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rafael Henrique Dalegrave Zottesso</title>

    <link rel="stylesheet"
    href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">

  </head>
  <body>

    <!-- define o formato do site: inteiro ou centralizado -->
    <div class="container shadow-sm mt-3">

      <div class="row border bg-light rounded p-5">

        <div class="col-lg-8">
          <h3 class="">Rafael</h3>
          <h1>Zottesso</h1>
        </div>

        <div class="col-lg text-right">
          Lista de dados
        </div>

      </div>



    </div>


  </body>
</html>
