{% extends 'adocao/base.html' %}

{% load static %}

<!-- Deixa o bloco vazio -->
{% block header %}

{% endblock %}

<!-- Bloco Principal -->
{% block container %}

<div class="container py-5">

    <div class="row mt-5">
        <div class="col-lg">

            <h3 class="border-bottom">
                Lista de Estados cadastrados

                <a href="{% url 'cadastrar-estado' %}" class="float-right btn btn-primary btn-sm">
                    Novo estado
                </a>
            </h3>

        </div>
    </div>

    <div class="row">
        <div class="col-lg mt-4">

            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>Sigla</th>
                        <th>Nome</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>

                    {% for estado in object_list %}
                    <tr>
                        <td>{{ estado.sigla }}</td>
                        <td>{{ estado.nome }}</td>
                        <td>
                            <a href="{% url 'editar-estado' estado.pk %}" class="btn btn-warning btn-sm">
                                Editar
                            </a>

                            <a href="{% url 'excluir-estado' estado.pk %}" class="btn btn-danger btn-sm">
                                Excluir
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">Nenhum estado cadastrado</td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>
    </div>

</div>

{% endblock %}