{% extends 'adocao/base.html' %}

{% load static %}

<!-- Deixa o bloco vazio -->
{% block header %}

{% endblock %}

<!-- Bloco Principal -->
{% block container %}

<div class="container py-5">
    
    <div class="row mt-5">
        <div class="col-lg detalhes-animais">
            
            <h3 class="border-bottom">
                Detalhes de Animais
            </h3>

            <img src="{{object.foto}}" alt="" width="200">
            <br>

            <span><b>Nome:</b></span>
            <span>{{ object.nome }}</span>
            <br>

            <span><b>Tipo:</b></span>
            <span>{{ object.tipo }}</span>
            <br>

            <span><b>Raça:</b></span>
            <span>{{ object.raca }}</span>
            <br>

            <span><b>Idade Aproximada:</b></span>
            <span>{{ object.idade }}</span>
            <br>

            <span><b>Descrição:</b></span>
            <span>{{ object.descricao }}</span>
            <br>

            <span><b>Telefone de Contato:</b></span>
            <span>{{ object.telefone }} - {{ object.cidade }}</span>
            <br>

            <a href="{% url 'index' %}" class="d-inline-block mt-4">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                Voltar
            </a>

        </div>
    </div>
</div>
{% endblock %}