.bg-animais {
    background-image: url('../img/animais.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: auto 100%;
}

.animais-list:hover{
    box-shadow: 0px 0px 7px #AAAAAA;
}

.detalhes-animais{
    font-size: 130%;
}